<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Celebrity Name Game</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>Score this round: <span class="currentscore">0</span> | Total score: 
          <span class="totalscore"><%= @score %></span> | Round # 
          <span class="totalrounds"><%= @rounds %></span></li>
      </ul>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><em>Search movies and see if you know who's who.</em></li>
      </ul>
    </div>
  </nav>
</header>