<section class="results" id="results">
  <div class="card">
            <div class="card-content">
              <span class="card-title">Card Title</span>
              <p>Your score for this round is <span class="currentscore">0</span> and your total is now <span class="totalscore">0</span></p>
            </div>
            <div class="card-action">
              <a href="#top" class="waves-effect waves-light btn">Play again!</a>
              </div>
            </div>
          </div>
</section>
