<section class="scoring">
  <div class="result">
    <p>Your score for this round is **X** and your total is now **Y**</p>
    <button type="submit" class="result">Check my score</button>
  </div>
</section>