<section class="scoring">
  <div class="result">
    <p>Your score for this round is <span class="currentscore">0</span> and your total is now <span class="totalscore">0</span></p>
    <button type="submit" class="result" id="scorebtn">Check my score</button>
  </div>
</section>