

<h2>Celebrity Name Game</h2>
<h3>In progress.</h3>
<p>Current score: <%= @score %>, you are on round # <%= @rounds %></p>
<p></p><p></p>

<p>"This product uses the TMDb API but is not endorsed or certified by TMDb."</p>